
  
  h2 {
    font-size: 40px;
    text-shadow: 0px 2px 4px rgb(144, 230, 6);
    font-weight: 680;
  }
  
  li {
    color:black;
    font-weight: 600; 
    line-height: 2em;
   }
  button {
    background-color: rgba(144, 230, 6, 0.938);
    color: white;
    font-weight: 700;
    width: 10em;
  }

  button:active {
    background-color: rgba(17, 114, 25, 0.548);
  }
 
#title {
  color: transparent;
  font-size: 20px;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 0px 2px 4px rgb(144, 230, 6);
  background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(144, 230, 6, 0.938), #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(144, 230, 6, 0.938), #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#sub {
  background-color: rgba(206, 250, 134, 0.856);
  color: #25530d;
  text-shadow: 0px 2px 4px rgb(144, 230, 6);


}