p {
    font-family: Lato;
  }
  
  h2 {
    font-size: 40px;
    text-shadow: 0px 2px 4px rgb(144, 230, 6);
  }
  
  button {
    background-color: rgba(144, 230, 6, 0.938);
    color: white;
    
  }